header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #FFFFFF;
  background-color: #eeca69;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}