header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  background-color: #eeca69;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 1em;
}