#tweet-text {
  background-color: transparent;
  width: 100%;
  height: auto;
}

textarea {
  border: none;
  outline: none;
  height: auto;
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: Bungee;
  box-shadow: 4px 4px lightgray;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-self: stretch;
  width: 90%;
}

.counter {
  color: #4056A1;
  font-family: Bungee;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 4px solid #4056A1;
  padding-top: 0.5em;
}

.redCounter {
  color: red;
  font-family: Bungee;
}