/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 * Not modified
 */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #545149;
  font-size: 24px;
  font-family: Source Sans Pro, sans-serif;
  z-index: -1;
}

/*
 * Additional CSS
 */

.light {
  background-color: beige;
}

.dark {
  // dark mode stretch
  background-color: #3e487a;
  * {
    color: white;
    text-shadow: 4px 4px rgb(138, 137, 137);
  }

  .article {
    border-color: white;
    box-shadow: none;
  }

  .display-pic {
    background-color: white;
    border-radius: 30px 30px 30px 30px; 
  }

  .tweet-body {
    color: white;
    border-bottom: 4px solid white;
  }

  .submit {
    border-top: 4px solid white;
  }
}

.not-bold {
  font-weight: normal;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 1em;
  padding-left: 5%;
  padding-right: 5%;
  text-shadow: 4px 4px lightgray;
  background-color: none;
  padding-top: 7em;
  padding-bottom: 4em;
}

/*
* Mobile Styles
*/

@media only screen and (max-width: 1024px) {
  .user-profile {
    display: flex;
    flex-direction: column;
  }

  .container {
    padding-top: 3em;
  }

  header.profile {
    background-color: #eeca69;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  }

  img.profile-pic {
    margin-top: 60px;
  }
}

/*
* Tablet & Desktop Styles
*/

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056a1;
  }

  header.profile {
    height: 50%;
    float: left;
    position: fixed;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8em;
    background-color: none;
    margin-left: 3em;
  }

  .user-profile {
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding-top: 5%;
  }

  div.profile-box {
    background-color: #eeca69;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  }

  .container {
    width: 60%;
    float: right;
  }
}
